@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
button {
    background-color: black;
    color: #ffffff;
    padding: 10px; 
    border-color: gray;
    border-width: 2px;
    border-radius: 100%; 
}

#playButton{
    position: absolute;
    left: 10px;
    top: 90%;
}

#pauseButton{
    position: absolute;
    left: 100px;
    top: 90%;
}

#slider{
    position: absolute;
    left: 200px;
    top: 92%; 
    width: 80%; 
    border-radius: 60%; /*60*/
    outline: none;
    opacity: 0.7;
}

#infoText{
    position: absolute;
    left: 20px;
    background: rgba(198, 196, 195, 0.15);
    border-radius: 5%;
    border-color: #E5E2E2;
    border-width: 20px;
    padding: 10px;
    width: 22%;  
}

#infoText h1{
    color: honeydew;
    font-family: sans-serif;
}

#infoText p{
    color: honeydew;
    font-family: 'Poppins', sans-serif;
}
