
.control_bar{
    position: fixed;
    transform: translateZ();
    height: 74px;

}

#control_bar{
    left: 10px;
    right: 10px;
    bottom: 10px;
}

:not(#control_bar){
    position: relative;
    height: min-content;
}

#center{
    position: relative;
    float: left;
    height: 74px;
}

#input, #output{
    position: absolute;
    height: 74px;
    left: 0;
}

#input{
    -webkit-appearance: none;
    outline: none;
    /* height: 0px; */
    /* top: 36px; */
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
}

#input[type=range]::-moz-range-thumb{
    height: 0;
    width: 0;
    color: transparent;
    border: transparent;
}

#right{
    right: 10px;
    float: right;
    width: max-content;
    display: inline;
}

#left{
    float: left;
    width: max-content;
}

#infoText{
    position: fixed;
    float: left;
    left: 20px;
    top: 0;
    background: rgba(198, 196, 195, 0.15);
    border-radius: 5%;
    border-color: #E5E2E2;
    border-width: 20px;
    padding: 10px;
    width: 22%;  
    color: honeydew;
    font-family:  sans-serif;
}

#temperaturLegende{
    position: absolute;
    right: 20px;
    top: 0;
    background: rgba(198, 196, 195, 0.15);
    border-radius: 5%;
    border-color: #E5E2E2;
    border-width: 20px;
    padding: 10px;
    width: 10%;  
    color: honeydew;
    font-family: sans-serif;
}

#temperaturLegende h1{
    text-align: center;  
}

#temperaturLegende p{
    text-align: right;
}

#yearDisplayer{
    position:absolute;
    right: 3%;
    font-family: sans-serif;
}



