
.control_bar{
    position: fixed;
    transform: translateZ();
}

#control_bar{
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 74px;
}

:not(#control_bar){
    position: relative;
    height: min-content;
}

#right{
    right: 10px;
    float: right;
    width: max-content;
    display: inline;
}


#left{
    float: left;
    width: max-content;
}

#slider{
    height: 74px;
}
